<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.iis.datacapturer" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="21" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="21" />


    <application
        android:name=".Capture"
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/MyTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Data"
            android:label="@string/title_activity_data"
            android:parentActivityName=".ListActo" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.iis.datacapturer.ListActo" />
        </activity>
        <activity
            android:name=".ListActo"
            android:label="@string/title_activity_list"
            android:theme="@style/MyTheme"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.iis.datacapturer.MainActivity" />
        </activity>
        <activity
            android:name=".EditActivity"
            android:label="@string/title_activity_edit">

        </activity>
        <activity
            android:name=".LogIn"
            android:label="@string/title_activity_log_in"
            android:screenOrientation="portrait"
            >

        </activity>
        <activity
            android:name=".SignUp"
            android:label="@string/title_activity_sign_up"
            android:screenOrientation="portrait"
            android:parentActivityName=".LogIn" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.iis.datacapturer.LogIn" />
        </activity>
    </application>

</manifest>
